@model jctravel01.Models.JobGruopIndex

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobGruopIndex</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobGruopNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobGruopNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobGruop_Index }) |
    @Html.ActionLink("Back to List", "Index")
</p>
