@model jctravel01.Models.PermiIndex

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PermiIndex</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PermiNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermiNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainPerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainPerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainPerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainPerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltPerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltPerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltPerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltPerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy_Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Permilindex }) |
    @Html.ActionLink("Back to List", "Index")
</p>
