@model jctravel01.Models.Airline

@{
    ViewBag.Title = "新增資料";
}

<h2>新增航空公司</h2>
@if (!string.IsNullOrEmpty(@ViewBag.alert))
{
    <div class="alert alert-danger">
        <h3>@ViewBag.alert</h3>
    </div>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        <h4>填入以下資料</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-inline">
        <div class="form-group">
            @Html.LabelFor(model => model.Airline_Code, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10 input-group">
                <span class="input-group-addon" style="color:red">*</span>
                @Html.EditorFor(model => model.Airline_Code, new { htmlAttributes = new { @class = "form-control", placeholder = "OP" } })                
            </div>
            <p>@Html.ValidationMessageFor(model => model.Airline_Code, "", new { @class = "text-danger" })</p>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cname, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10 input-group">
                <span class="input-group-addon" style="color:red">*</span>
                @Html.EditorFor(model => model.Cname, new { htmlAttributes = new { @class = "form-control", placeholder = "帛琉亞太航空公司" } })               
            </div>
            <p>@Html.ValidationMessageFor(model => model.Cname, "", new { @class = "text-danger" })</p>
        </div>
    </div>
        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.ShortName, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10 input-group">
                    <span class="input-group-addon" style="color:red">*</span>
                    @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control", placeholder = "帛航" } })                    
                </div>
                <p>@Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })</p>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ename, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10 input-group">
                    <span class="input-group-addon" style="color:red">*</span>
                    @Html.EditorFor(model => model.Ename, new { htmlAttributes = new { @class = "form-control", placeholder = "Palau Airways" } })                    
                </div>
                <p>@Html.ValidationMessageFor(model => model.Ename, "", new { @class = "text-danger" })</p>
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.Tele_CountryCode, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tele_CountryCode, new { htmlAttributes = new { @class = "form-control", placeholder = "81" } })
                    @Html.ValidationMessageFor(model => model.Tele_CountryCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tele_Area, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tele_Area, new { htmlAttributes = new { @class = "form-control", placeholder = "3" } })
                    @Html.ValidationMessageFor(model => model.Tele_Area, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.Tele_number, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tele_number, new { htmlAttributes = new { @class = "form-control", placeholder = "3980-1111" } })
                    @Html.ValidationMessageFor(model => model.Tele_number, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control", placeholder = "http://abc.com.tw" } })
                    @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", placeholder = "3980-0011" } })
                    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "test@gmail.com" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="確定" class="btn btn-primary" />|
                @Html.ActionLink("取消", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
        }
