@model jctravel01.Models.PermiMng

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PermiMng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Main)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoIndex.ComName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoIndex.ComName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HRInfo.EmpNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRInfo.EmpNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermiGruop.PermiGpNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermiGruop.PermiGpNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PMngIndex }) |
    @Html.ActionLink("Back to List", "Index")
</p>
