@model IPagedList<jctravel01.Models.HRInfo>

@{
    ViewBag.Title = "人員權限設定";
}

<h2>人員列表</h2>
@section styles{
    <link rel="stylesheet" href="~/Content/PagedList.css" />
    <style>
        th, td {
            white-space: nowrap;
        }
    </style>
}
@section scripts{

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
    $("#reset").click(function () {
        $(".form-control").val("");
        return false;
    })
    if ($("#Select option:selected").val() == "5") {
        $("#Search").remove();
        $("#Select").after('@Html.Action("GetStatusList", new { id = ViewBag.Onjobstatus })')
    }
        if ($("#Select option:selected").val() == "3") {
            $("#Search").remove();
            $("#Select").after('@Html.Action("GetDep", new { id = ViewBag.depIndex })')
        }
        if ($("#Select option:selected").val() == "4") {
            $("#Search").remove();
            $("#Select").after('@Html.Action("GetGroup", new { id = ViewBag.groupIndex })')
        }
            $("#Select").change(function () {
                if ($("#Select option:selected").val() == "5") {
                    $("#Search").remove();
                    $("#Select").after('@Html.Action("GetStatusList", new { id = ViewBag.Onjobstatus })')
                }
                else if ($("#Select option:selected").val() == "3") {
                    $("#Search").remove();
                    $("#Select").after('@Html.Action("GetDep", new { id = ViewBag.depIndex })')
                }
                else if ($("#Select option:selected").val() == "4") {
                    $("#Search").remove();
                    $("#Select").after('@Html.Action("GetGroup", new { id = ViewBag.groupIndex })')
                }
                else {
                    $("#Search").remove();
                    $("#Select").after('@Html.Editor("Search", new { htmlAttributes = new { @class = "form-control",Value ="" } })')

                }
            })


    </script>
}
@{
    int colorNum = 1;
    string color = "antiquewhite"; @*設定表格顏色*@
    string trColor = "";
    int RowsCountMin = ViewBag.RowCountMin;
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>快速查詢</legend>
        <div class="form-inline">
            <div class="form-group col-lg-offset-4">
                @Html.DropDownList("Select", ViewBag.SelectBar as SelectList, "請選擇", htmlAttributes: new { @class = "form-control" })
                @Html.Editor("Search", new { htmlAttributes = new { @class = "form-control" } })
                <input type="submit" class="btn btn-success" value="送出查詢" />
                <a id="reset" href="#" class="btn btn-warning">清空</a>
                <input type="hidden" name="Page" value="1" />
            </div>
        </div>
    </fieldset>
}

<p>
    @Html.ActionLink("新增人員", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
@using (Ajax.BeginForm("ChangePermiGroup", new AjaxOptions { UpdateTargetId = "message", OnSuccess ="alert('更改成功')", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }))
{
    @Html.AntiForgeryToken();
    <table class="table">
        <tr style="background-color:@color">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EmpNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().EmpName)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (colorNum % 2 != 0)
            {
                color = "#b8f1f3";
            }
            else
            {
                color = "antiquewhite";
            }
            if (item.OnJobStatus != 4)
            {
                trColor = "blueviolet";
            }
            else
            {
                trColor = "dimgray";
            }
            colorNum++;
            <tr style="background-color:@color;color:@trColor;">
                <td>
                    @(RowsCountMin++)
                    <input type="checkbox" name="EmpIndex" value="@item.EmpIndex" />
                    @Ajax.ActionLink(item.EmpNo, "Edit", new { id = item.EmpIndex }, new AjaxOptions { UpdateTargetId = "EditPlace", InsertionMode = InsertionMode.Replace }, htmlAttributes: new { @class = "btn btn-primary", data_toggle = "modal", data_target = ".Edit" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpName)
                </td>
            </tr>
        }
    </table>
    <div class="col-lg-offset-4 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    更改權限
                </h3>
            </div>
            <div class="panel-body">
                @Html.ListBox("PermiGroup", ViewBag.PermiGroups as MultiSelectList, htmlAttributes: new { @class = "form-control"})
               <p class="text-center"><input type="submit" value="更改" class="btn btn-success" /></p> 
                <p id="message" class="text-center row text-danger"></p>
            </div>
        </div>
    </div>

}

<div class="modal fade Edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="EditPlace" class="modal-content">

        </div>
    </div>
</div>


<h5 class="text-center col-lg-12" style="color:blue;">共 @ViewBag.DataCount 筆資料</h5>
<div class="pager col-lg-12">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, ViewBag.Select, ViewBag.Search }))
</div>