@model jctravel01.Models.AirlineOffice

@{
    ViewBag.Title = "編輯辦事處資料";
}

<h2>編輯辦事處資料</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
        <h4>更改以下資料</h4>
        <hr />
        @Html.HiddenFor(model => model.AirlineOfficeIndex)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ALoffice_Code, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ALoffice_Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ALoffice_Code, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ALoffice_Code)
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.AirlineIndex, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Airline.Cname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.AirlineIndex, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.AirlineIndex)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CountryIndex, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Country01.Cname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.CountryIndex, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.CountryIndex)
                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.CityIndex, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City03.Cname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.CityIndex, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.CityIndex)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tele_Order, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tele_Order, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tele_Order, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.Office_Number, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10 input-group">
                    <span class="input-group-addon" style="color:red">*</span>
                    @Html.EditorFor(model => model.Office_Number, new { htmlAttributes = new { @class = "form-control" } })                    
                </div>
                <p>@Html.ValidationMessageFor(model => model.Office_Number, "", new { @class = "text-danger" })</p>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Office_Fax, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Office_Fax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Office_Fax, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.Office_Addr, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10 input-group">
                    <span class="input-group-addon" style="color:red">*</span>
                    @Html.EditorFor(model => model.Office_Addr, new { htmlAttributes = new { @class = "form-control" } })                    
                </div>
                <p>@Html.ValidationMessageFor(model => model.Office_Addr, "", new { @class = "text-danger" })</p>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Office_Mailbox, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Office_Mailbox, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Office_Mailbox, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-10">
                    @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    <div class="form-inline">
        <div class="form-group">
            @Html.LabelFor(model => model.CreateBy, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.Display("CreateBy")
                @Html.HiddenFor(model => model.CreateBy)
                @Html.ValidationMessageFor(model => model.CreateBy, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CreateBy_Time, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CreateBy_Time)
                @Html.HiddenFor(model => model.CreateBy_Time)
                @Html.ValidationMessageFor(model => model.CreateBy_Time, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            @Html.LabelFor(model => model.UpdateBy, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.Display("UpdateBy")
                @Html.HiddenFor(model => model.UpdateBy)
                @Html.ValidationMessageFor(model => model.UpdateBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateBy_Time, htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UpdateBy_Time)
                @Html.HiddenFor(model => model.UpdateBy_Time)
                @Html.ValidationMessageFor(model => model.UpdateBy_Time, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
        @Html.HiddenFor(model => model.CompanyNo)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="確定" class="btn btn-success" />
                @Html.ActionLink("取消", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })|
                @Html.ActionLink("刪除", "Delete", new { id = Model.AirlineOfficeIndex }, htmlAttributes: new { @class = "btn btn-warning" })               
            </div>
        </div>
        }

