@model jctravel01.Models.CityDistrict

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CityDistrict</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CityDistrictCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityDistrictCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisCname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisCname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisEname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisEname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City03.City_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City03.City_no)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CityDistrictIndex }) |
    @Html.ActionLink("Back to List", "Index")
</p>
