@model jctravel01.Models.NearbyFcai_index

@{
    ViewBag.Title = "編輯附近設施";
}

<h2>編輯附近設施</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>更改下列資料</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.NearbyFaci_no)
        @Html.HiddenFor(model => model.CompanyNo)
        <div class="form-group">
            @Html.LabelFor(model => model.NearbyFaci_code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NearbyFaci_code, new { htmlAttributes = new { @class = "form-control",@readonly ="readonly" } })
                @Html.ValidationMessageFor(model => model.NearbyFaci_code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 input-group">
                <span class="input-group-addon" style="color:red">*</span>
                @Html.EditorFor(model => model.Cname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ename, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ename, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ename, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateBy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CreateBy, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.Display("CreateBy")
                @Html.HiddenFor(model => model.CreateBy)
                @Html.ValidationMessageFor(model => model.CreateBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateBy_Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CreateBy_Time, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DisplayFor(model => model.CreateBy_Time)
                @Html.HiddenFor(model => model.CreateBy_Time)
                @Html.ValidationMessageFor(model => model.CreateBy_Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateBy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.UpdateBy, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.Display("UpdateBy")
                @Html.HiddenFor(model => model.UpdateBy)
                @Html.ValidationMessageFor(model => model.UpdateBy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateBy_Time, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.UpdateBy_Time, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DisplayFor(model => model.UpdateBy_Time)
                @Html.HiddenFor(model => model.UpdateBy_Time)
                @Html.ValidationMessageFor(model => model.UpdateBy_Time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="確定" class="btn btn-primary" />
                @Html.ActionLink("取消", "Index", null, htmlAttributes: new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}
