@model IPagedList<jctravel01.Models.AmosphIndex>

@{
    ViewBag.Title = "氣氛";
}

<h2>氣氛列表</h2>
@section styles{
    <link rel="stylesheet" href="~/Content/PagedList.css" />
    <style>
        th, td {
            white-space: nowrap;
        }
    </style>
}
@section scripts{
    <script>
        $("#reset").click(function () {
            $(".form-control").val("");
            return false;
        })
    </script>
}
@{
    int colorNum = 1;
    string trColor = "";
    string color = "antiquewhite"; @*設定表格顏色*@
    int RowsCountMin = ViewBag.RowCountMin;
}
@using (Html.BeginForm())
{
    <fieldset>
        <legend>快速查詢</legend>
        <div class="form-inline">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.FirstOrDefault().Amosph_no, htmlAttributes: new { @class = "control-label" })
                @Html.Editor("Amosph_no", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.FirstOrDefault().Cname, htmlAttributes: new { @class = "control-label" })
                @Html.Editor("Cname", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.FirstOrDefault().Ename, htmlAttributes: new { @class = "control-label" })
                @Html.Editor("Ename", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <p style="padding-top:20px"></p>

        <div class="form-inline col-md-offset-5" style="margin-top:20px">
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="送出查詢" />
                <a id="reset" href="#" class="btn btn-warning">清空</a>
                <input type="hidden" name="Page" value="1" />
            </div>
        </div>
    </fieldset>
}
<p>
    @Html.ActionLink("增加氣氛", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr style="background-color:@color">
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Amosph_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Cname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Ename)
        </th>
    </tr>

@foreach (var item in Model)
{
    if (colorNum % 2 != 0)
    {
        color = "#b8f1f3";
    }
    else
    {
        color = "antiquewhite";
    }
    if (item.Status == 1)
    {
        trColor = "blueviolet";
    }
    else
    {
        trColor = "dimgray";
    }
    colorNum++;
    <tr style="background-color:@color;color:@trColor;">
        <td>
            @(RowsCountMin++)
            @Html.ActionLink(item.Amosph_no, "Edit", new { id = item.Amosph_Index }, htmlAttributes: new { @class = "btn btn-primary" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ename)
        </td>
    </tr>
}

</table>
<h5 style="margin:0 auto; width:10%; color:blue;">共 @ViewBag.DataCount 筆資料</h5>
<div class="pager">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, ViewBag.Amosph_no, ViewBag.Cname, ViewBag.Ename }))
</div>