@model jctravel01.Models.TourBure

@{
    ViewBag.Title = "旅遊局詳細資料";
}
@section styles{
    <style>
        dd {
            background-color: aquamarine;
        }

        dt {
            background-color: ActiveCaption;
        }
    </style>
}
<h2>旅遊局詳細資料</h2>

<div>
    <h4>資料如下</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TourBure_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourBure_no)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country01.Country_no)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country01.Cname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State02.State_no)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State02.Cname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City03.City_no)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City03.Cname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tele_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tele_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy_Time)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("編輯資料", "Edit", new { id = Model.TourBure_no }, htmlAttributes: new { @class = "btn btn-info" }) |
    @Html.ActionLink("回到列表", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
