@model jctravel01.Models.Authorze_index

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Authorze_index</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Permit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermiIndex1.PermiNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermiIndex1.PermiNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AutIndex }) |
    @Html.ActionLink("Back to List", "Index")
</p>
